<!DOCTYPE html>
<html>
<head>
    <title>Admin Panel</title>
    <link rel="stylesheet" href="dashboard_style.css">
    <link rel="stylesheet" href="navigation.css">
</head>
<body>
{% include "navigation.html" %}
<div class="main-content">

    <div class="presentation">

        {% include "headers.html" %}
        <h2>Download Reports</h2>
        <a href="/download/users">
            <button class="btn btn-primary">Users</button>
        </a>
        <a href="/download/projects">
            <button class="btn btn-primary">Projects</button>
        </a>
    </div>
</div>

</body>
</html>