<!DOCTYPE html>
<html>
<head>
    <title>Advanced</title>
    <link rel="stylesheet" href="dashboard_style.css">
    <link rel="stylesheet" href="navigation.css">
</head>
<body>
{% include "navigation.html" %}
<div class="main-content">
    <div class="presentation">
        {% include "headers.html" %}
        <div class="button-group">
            <a href="/changePassword"><button class="btn btn-primary">Change password</button></a>
        </div>
    </div>
</div>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
