<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="the_style.css">
    <link rel="stylesheet" href="navigation.css">
</head>
<body>
{% if logged %}
    {% include "navigation.html" %}
{% endif %}
<div class="container">
    {% include "headers.html" %}
    <form method="post" action="{{target}}">
        {% for field in liste %}
            <div class="form-group">
                <label for="{{field.name}}">{{field.label}}:&nbsp;</label>
                {% if field.options %}
					<select class="form-control"
						id="{{field.name}}" name="{{field.name}}"
						value="{{field.value}}">
						{% for option in field.options %}
							<option value="{{option}}">{{option}}</option>
						{% endfor %}
					</select>
				{% else %}
					<input type="{{field.type}}" class="form-control" 
						id="{{field.name}}" name="{{field.name}}" value="{{field.value}}" 
						required>
				{% endif %}
            </div>
        {% endfor %}
		<div class="form-group">
		   <input type="submit" class="btn btn-primary" value="{{enter}}" />
		</div>
	</form>
	{% if back %}
		<a href="{{back}}"><button class="btn btn-secondary">Back</button></a>
	{% endif %}
</div>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
