<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="the_style.css">
    <link rel="stylesheet" href="navigation.css">
</head>
<body>
{% include "navigation.html" %}
<div class="presentation">
    {% include "headers.html" %}
    {% for item in liste %}
    <a href="{{item.link}}" style="background-color: #f0ad4e; padding: 5px; color: white; border-radius: 3px; display: block; margin-bottom: 10px;">{{item.text}}</a>
    {% endfor %}
    {% include "buttons.html" %}
</div>
</body>
</html>
