<!DOCTYPE html>
<html>
<head>
    <title>Login - Project Planner</title>
    <link rel="stylesheet" href="the_style.css">
</head>
<body>
<div class="container">
    <h1>Login into project planner</h1>
    <h2>Enter your login credentials</h2>
    <form method="post" action="/logged">
        <div class="form-group">
            <label for="login">Login:</label>
            <input type="text" class="form-control" id="login" name="login" required>
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" class="form-control" id="password" name="password" required>
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Login">
        </div>
    </form>
</div>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
