<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
	<link rel="stylesheet" href="dashboard_style.css">
	<link rel="stylesheet" href="navigation.css">
</head>
<body>
{% include "navigation.html" %}
<div class="presentation">
{% include "headers.html" %}
{% for field in fields %}
	<label>{{field.label}}:&nbsp;</label><label class="value">{{field.text}}</label><br/>
{% endfor %}
{% for link in links %}
	<label>{{link.label}}:&nbsp;</label><a href="{{link.link}}"><label>{{link.text}}</label></a><br/>
{% endfor %}
{% include "buttons.html" %}
</div>
</body>
</html>
