<!DOCTYPE html>
<html>
<head>
    <title>Project dashboard</title>
	<link rel="stylesheet" href="dashboard_style.css">
</head>
<body>
<div class="container">
	<h1>User</h1>
	<label>Identifier:&nbsp;</label><label>{{identifier}}</label><br/>
	<label>Name:&nbsp;</label><label>{{name}}</label><br/>
	<label>Description:&nbsp;</label><label>{{description}}</label><br/>
	<label>Start date:&nbsp;</label><label>{{startDate}}</label><br/>
	<label>End date:&nbsp;</label><label>{{endDate}}</label><br/>
	<label>Status:&nbsp;</label><label>{{status}}</label>
</div>
</body>
</html>
