<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="dashboard_style.css">
    <link rel="stylesheet" href="navigation.css">
</head>
<body>
{% include "navigation.html" %}
<div class="main-content">
    <div class="presentation">
        {% include "headers.html" %}
        <div class="form-group">
            {% for field in fields %}
                <label>{{field.label}}:&nbsp;</label><label class="value">{{field.text}}</label><br/>
            {% endfor %}
        </div>
        <div class="form-group">
            {% for link in links %}
                <label>{{link.label}}:&nbsp;</label><a href="{{link.link}}"><label class="value">{{link.text}}</label></a><br/>
            {% endfor %}
        </div>
        {% include "buttons.html" %}
    </div>
</div>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
