<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Users to Projects</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="the_style.css">
    <link rel="stylesheet" href="navigation.css">
</head>
<body>
<div class="sidenav">
    <a href="/dashboard?kind=user">Me</a><br/>
    <a href="/dashboard?kind=project">My projects</a><br/>
    <a href="/look?kind=user">People</a><br/>
    <a href="/look?kind=project">Projects</a><br/>
    <a href="/look?kind=resource">Resources</a><br/>
    <a href="/calendar-manager-view">Calendar</a><br/>
    <a href="/download/projects">Generate Report</a><br/>
    <a href="/advanced">Advanced</a><br/>
    <a href="/logout">Log out</a><br/>
</div>
<div class="container">
    <div class="success-message" id="successMessage">
        User has been successfully added to the project!
    </div>


</div>


</body>
</html>
