<!DOCTYPE html>
<html>
<head>
    <title>User dashboard</title>
	<link rel="stylesheet" href="dashboard_style.css">
</head>
<body>
<div class="container">
	<h1>User</h1>
	<label>Identifier:&nbsp;</label><label>{{identifier}}</label><br/>
	<label>Login:&nbsp;</label><label>{{login}}</label><br/>
	<label>Name:&nbsp;</label><label>{{name}}</label><br/>
	<label>Surname:&nbsp;</label><label>{{surname}}</label><br/>
	<label>Role:&nbsp;</label><label>{{role}}</label><br/>
	<label>Projects:&nbsp;</label><label><a href="/dashboard?kind=projects">projects</a></label>
</div>
</body>
</html>
